<div class="container p-3">
  <nav class="navbar navbar-dark bg-primary justify-content-between rounded-top-5">
    <span class="navbar-brand p-3">Create a new movie list</span>
    <span class="px-3"><%= link_to "Back", root_path %></span>
  </nav>

<div class="shadow border p-3 rounded-bottom-5">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.submit %>
  <% end %>
</div>

</div>
