// Define variables for your color scheme

// For example:
$red: #FF6684;
$blue: #4258FF;
$yellow: #fdc765;
$orange: #FFB710;
$green: #03D1B2;
$gray: #404654;
$light-gray: #fbfbfb;
$success-color: #47C68E;
$info-color: #66D1FE;
